.oculto {
  display: none;
}
.cont-cheque-form .display-flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.cont-cheque-form .display-flex input {
  display: inline-block;
  width: 55%;
}

.cont-cheque-form .display-flex button img {
  width: 100%;
  max-height: 40px;
}

.listProd {
  list-style-type: none;      /* Elimina los puntos de lista */
  border: 2px solid #ccc;     /* Borde alrededor de la lista */
  border-radius: 8px;         /* Bordes redondeados */
  padding: 10px;              /* Espacio interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  max-width: 60%;
}

.listProd li div {
  display: flex;
  justify-content: space-between;
}

.listProd li {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.3s ease; /* Transiciones */
}

/* Animación al agregar el último elemento */
.listProd li:last-child {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.6s forwards ease;
}

/* Definición de la animación */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media screen and (max-width: 1365px) {
  .cont-cheque-form .display-flex button {
    width: 9%;
  }
}

@media screen and (max-width: 540px) {
  .cont-cheque-form .display-flex button {
    width: 12%;
  }

  .listProd {
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .cont-cheque-form .display-flex button {
    width: 100%;
  }

}
